<br>
<br>
<div class="card">
    <div class="card-header">
      Incident Reporting
    </div>
    <div class="card-body">
      <h5 class="card-title">Follow Below Details for Incident Reporting</h5>
      <p class="card-text">All towers must report any allision/collision to the deck barge group with in two hours or once the situation is safe to report. No matter when the incident happens, the PM that receives the call or the on call person will call dispatch and report the incident to dispatch. After talking to the duty dispatcher, you then send a follow up email with the details as you know them to the on call duty dispatcher, who will report the incident to the IC (incident commander) on duty. We no longer need to send an email to CBC INCIDENTS or add the incident to Intelex, the dispatcher will input this into Intelex as well. Please make a phone call first before sending the email with all the particulars of the incident. The email should only be used as backup to the phone call to dispatch. Once you have done that please double back with the boat company that reported the incident to ensure they have contacted the Coast Guard and gone through the proper channels for reporting and that they get us a written report ASAP. </p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Fuel Requests
    </div>
    <div class="card-body">
      <h5 class="card-title">All Fuel Requests Through Procurify</h5>
      <p class="card-text"><a href="https://canalbarge.procurify.com/">https://canalbarge.procurify.com/</a></p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Surveyors
    </div>
    <div class="card-body">
      <h5 class="card-title">On Call is Responsible for Surveyor Coordination</h5>
      <p class="card-text">
    <a>Stansbury Associates – </a><a href="mailto:stansburyassociates@teche.net">stansburyassociates@teche.net</a>, <a href="mailto:jestansbury@teche.net">jestansbury@teche.net</a>
    </p>
    <p class="card-text">
    <a>United Marine – Chris and Christopher Labure</a> <a href="mailto:untmarine@gmail.com">untmarine@gmail.com</a>, <a href="mailto:cwlabure@gmail.com">cwlabure@gmail.com</a>
    </p>
    <p class="card-text">
        <a>Chris Collier</a> <a href="mailto:cemarine1@aol.com">cemarine1@aol.com</a>
        </p>
        <p class="card-text">
            <a>Cook Marine Consultants – Jeff Cook</a> <a href="mailto:ops@cookmarineconsultants.com">ops@cookmarineconsultants.com</a>
            </p>
            <p class="card-text">
                <a>Wade Olsen</a> <a href="mailto:gsbs504@hotmail.com">gsbs504@hotmail.com</a>
                </p>
    </div>
  </div>