<style type="text/css">
    .outer {
      border: 1px solid red;
      padding: 18px;
      margin: 12px;
    }
    .inner {
      margin: 12px;
      padding: 12px;
      border: 1px solid green;
    }
  </style>

<% for (let i = 0; i < jobs.length; i++) { %>
    <div class="outer">
    <p>Jobs <%= jobs[i].ordnbr %></p>
    <% for (let j = 0; j < tows.length; j++) { %>
        <% if (tows[j].ordnbr === jobs[i].ordnbr) { %>
            <div class="card">
                <p>Tow: <%= tows[j].tow_id %></p>
            </div>
        <% } %>
        <% } %>
    </div>
    <% } %>